#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background-color: #282c34;
}

.container {
	max-width: 300px;
	text-align: center;
}

.main-title {
	font-size: 2.5rem;
	font-weight: 700;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
	width: 5em;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

#break-label,
#session-label,
#break-length,
#session-length,
#timer-label,
#time-left {
	color: #ffffff;
	margin: 10px;
	font-size: 1.5em;
}

#break-decrement,
#break-increment,
#session-decrement,
#session-increment,
#start_stop,
#reset {
	background-color: #1a1a1a;
	color: #ffffff;
	margin: 5px;
	padding: 10px;
	font-size: 1em;
	cursor: pointer;
}

#break-length,
#session-length {
	font-size: 1.5em;
	color: #ffffff;
	margin: 10px;
}

#time-left {
	font-size: 3em;
	color: #ffffff;
	margin: 10px;
}

#beep {
	display: none;
}
